@media(min-width: 600px){

    #top-actions-section{
        display: flex !important;
        align-items: center !important;
    }
}

table.highlight > tbody > tr:hover {
    background-color: #7b1fa21a;
  }

.user-list-item.active .user-list-arrow-icon{
    transition: all ease 300ms;
}

.user-list-item.active .user-list-arrow-icon{
    transform: rotate(270deg);
}

.user-list-item.active, .user-list-item.active .collapsible-header{
    background-color: rgb(233, 233, 233);
}

.container{
    width: 100% !important;
}

/* width */

.w-full{
    width: 100% !important;
}

.size-full{
    width: 100%;
    height: 100%;
}

.max-w-200{
    max-width: 200px;
}

.max-w-500{
    max-width: 500px;
}

.max-w-50{
    max-width: 50px;
}

/* padding */

.p-all-5{
    padding: 5px;
}

.p-r-20{
    padding-right: 20px;
}

.p-r-9{
    padding-right: 9px;
}

.p-r-5{
    padding-right: 5px;
}

.p-l-20{
    padding-left: 20px;
}

.p-l-9{
    padding-left: 9px;
}

.p-l-10{
    padding-left: 10px;
}

.p-l-5{
    padding-left: 5px;
}

.p-t-20{
    padding-top: 20px;
}

.p-t-15{
    padding-top: 15px;
}

.p-t-100{
    padding-top: 100px;
}

.p-t-1{
    padding-top: 1px;
}

.p-b-10{
    padding-bottom: 10px;
}

.p-b-3{
    padding-bottom: 3px;
}

/* margin */

.m-t-10{
    margin-top: 10px;
}

.m-b-0{
    margin-bottom: 0px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-r-5{
    margin-right: 5px;
}

.m-l-5{
    margin-left: 5px;
}

/* border */

.border-radios-5rem{
    border-radius: 5rem;
}

.no-border{
    border: unset !important;
}

.rounded-top-30{
    border-radius: 30px 30px 0px 0px;
}

/* flexbox */

.flex-l{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}

.flex-l-m{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex !important;
    justify-content: flex-start; 
    align-items: center;
}

.flex-c-m{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.flex-sb-m{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-align{
    align-items: center;
}

/* shadow */

.filter-shadow{
    filter: drop-shadow(2px 4px 6px black);
}

/* postion */

.pos-relative{
    position: relative;
}
.pos-fixed{
    position: fixed;
}

.bottom-0{
    bottom: 0;
}

.right-0{
    right: 0;
}

.left-0{
    left: 0;
}

.top-7{
    top: 7px;
}

/* font */

.f-bold{
    font-weight: bold;
}
